.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.second-logo {
  width: 200px;
  height: 200px;
}