<header class="top-page-header">
  <div class="search-bar-contents">
    <%= link_to image_tag("Roots.png", class:"roots-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='検索'>
    </form>
    <%= link_to '新規登録', "#", class: "sign-up" %>
  </div>
</header>