<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header2'>
  <div class='search-bar-contents2'>
    <%= link_to image_tag("Roots.png", class: "roots-icon2"), "/" %>
    <form class="search-form2" action="#">
      <input class='input-box2' placeholder='検索'>
    </form>
    <div class='nav2'>
      <ul class='lists-right'>
        <li><%= link_to current_user.user_name, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </ul>
    </div>
  </div>
</header>