<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("Roots.png", class: "roots-icon2"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='検索'>
    </form>
    <div class='nav'>
      <ul class='lists-right'>
        <li><%= link_to image_tag("post-new.png", class: "post-new-icon"), new_post_path %></li>
        <li><%= link_to current_user.user_name, "#", class: "user-nickname" %></li>
      </ul>
    </div>
  </div>
</header>