<div class="second-main">
  <div class="second-main-header sticky-top">
    <div class="second-contents">
      <%= link_to image_tag("logo (1).png", class: "roots-icon3"), "/" %>
      <div class="second-btns float-right">
        <%= link_to "ログイン", new_user_session_path, class: "second-login-btn" %>
        <%= link_to "アカウント作成", new_user_registration_path, method: :get, class: "second-sign-up-btn" %>
      </div>
    </div>
  </div>
  <video class="second-video" src="/videos/Pexels Videos 2324274.mp4" loop autoplay muted type="video/mp4"></video>
  <h2 class="second-index-text">見てみよう。<br>あの人の、あの場所の、あの景色を。</h2>
</div>