<% if user_signed_in? %>
  <%= render "shared/header" %>
  <div class="main">
    <div class="post-contents">
    </div>
  </div>
  <%= render "shared/footer" %>
<% else %>
  <%= render "shared/second-index" %>
<% end %>


