.main {
  background-color: rgb(252, 252, 252);
  display: flex;
}

.post-contents {
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  margin: 150px auto 50px;
  border: 1px solid rgba(216, 216, 216, 0.753);
  border-radius: 5px;
}