.main {
  background-color: rgb(252, 252, 252);
  display: flex;
}

.post-contents {
  width: 50vw;
  margin: 150px auto 50px;
}

.post-content {
  background-color: #fff;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  border: 1px solid rgba(216, 216, 216, 0.753);
  border-radius: 2px;
}

.post-user-name {
  margin: 10px;
}

.post-name-link{
  text-decoration: none;
  color: black;
}

.post-name-link:hover {
  text-decoration: none;
  color: black;
}

.post-video {
  width: 100%;
}

.youtube-image {
  width: 100%;
}

.post-info {
  margin: 13px 0 0 10px;
}

.caption-link {
  text-decoration: none;
  color: black;
}

.caption-link:hover {
  text-decoration: none;
  color: black;
}
.post-index-time {
  font-size: 12px;
  margin-left: 10px;
}

.post-youtube-text {
  font-size: 12px;
  margin-left: 10px;
  color: #FF0000;
}