.post-show-contents {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 150px auto 50px;
}

.post-show-content {
  background-color: #fff;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  width: 70vw;
}

.post-caption {
  font-weight: bold;
}

.post-user-name {
  margin: 10px;
}

.post-video-show {
  width: 100%;
}

.post-show-caption {
  font-size: 22px;
  margin-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgba(233, 233, 233, 0.884);
}

.post-show-describe {
  border-bottom: 1px solid rgba(233, 233, 233, 0.884);
  margin-top: 2vh;
  padding-bottom: 8vh;
}

.post-show-url {
  border-bottom: 1px solid rgba(233, 233, 233, 0.884);
  margin-top: 2vh;
  padding-bottom: 4vh;
}

a {
  text-decoration: none;
  color: rgba(51, 116, 255, 0.897);
}

.post-show-link-title {
  margin-bottom: 2vh;
}

.post-show-user {
  margin-bottom: 3vh;
}

.post-show-place {
  margin: 2vh 0 2vh;
}

.post-time {
  font-size: 14px;
  margin-left: 20px;
}

.post-show-comments {
  border-top: 1px solid rgba(233, 233, 233, 0.884);
}

.post-show-comments {
  padding-top: 2vh;
}