.post-show-contents {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 150px auto 50px;
}

.post-show-content {
  background-color: #fff;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  width: 70vw;
}

.post-video-show {
  width: 100%;
}

.post-show-caption {
  margin-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgba(233, 233, 233, 0.884);
}

.post-caption {
  font-weight: bold;
  font-size: 22px;
}

.post-time {
  font-size: 14px;
  margin-left: 20px;
}

.post-youtube {
  font-size: 14px;
  margin-left: 15px;
  color: #FF0000;
}

.post-show-btn {
  display: inline-block;
  margin-right: 5px;
}

.post-show-user-link {
  color: black;
}

.post-show-user-link:hover {
  text-decoration: none;
  color: black;
}

.post-show-user-icon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  background-color: black;
}

.post-show-describe {
  border-bottom: 1px solid rgba(233, 233, 233, 0.884);
  margin-top: 2vh;
  padding-bottom: 8vh;
}

.post-show-url {
  border-bottom: 1px solid rgba(233, 233, 233, 0.884);
  margin-top: 2vh;
  padding-bottom: 4vh;
}

.post-show-link-title {
  margin-bottom: 2vh;
}

.post-show-place {
  margin: 2vh 0 2vh;
}

.post-show-comments {
  border-top: 1px solid rgba(233, 233, 233, 0.884);
  padding-top: 2vh;
}

.comment-current-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}