.user-show-contents {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 100px auto 50px;
}

.user-show-content {
  background-color: #fff;
  padding-bottom: 2vh;
  width: 70vw;
}

.user-profile {
  margin-left: 140px;
}

.user-profile-img {
  width: 168px;
  height: 168px;
}

.user-show-icon {
  width: 100%;
  height: 100%;
}

.user-show-right {
  margin: 20px 0 0 80px;
}

.user-show-user-name {
  font-size: 28px;
  font-weight: 150;
}

.user-show-postcount {
  font-size: 16px;
  margin-top: 10px;
}

.user-show-profile {
  margin-top: 10px;
}
.user-show-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.user-show-video {
  margin-top: 30px;
}

.user-show-post-video {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.user-show-posts::after {
  display: block;
  content:"";
  width: 300px;
  }